.regrade-card-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.regrade-card {
    margin-bottom: 20px;
    background-color: #FAFAFA;
}

.regrade-card-title {
    margin-bottom: 0px;
}

.regrade-card-comment {
    padding: 10px;
    color: #707070;
}

.logout-prompt {
    float: right;
}

.logout-prompt p {
    margin: 0px;
}

.regrade-button {
    background-color: #de893d;
    color: white;
}

.regrade-button:hover {
    color: black;
}
